<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555671953303-81bq3hnf3r6n498hl049pg8o4jpoe3ve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555671953303-81bq3hnf3r6n498hl049pg8o4jpoe3ve</string>
	<key>API_KEY</key>
	<string>AIzaSyBVgtITZc8kSuX3Qow6zoWAeiBlIZzx2TE</string>
	<key>GCM_SENDER_ID</key>
	<string>555671953303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beachparty</string>
	<key>PROJECT_ID</key>
	<string>beach-party-database</string>
	<key>STORAGE_BUCKET</key>
	<string>beach-party-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555671953303:ios:51d9d4168edf65dc012ed2</string>
</dict>
</plist>